body {
    font-family: Arial, sans-serif;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #0d0d0e;
    color: white;
    overflow-x: hidden;
}
header {
    background-color: #2a9d8f;
    color: rgb(65, 60, 60);
    padding: 15px;
    text-align: center;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
}
nav ul {
    list-style: space;
    padding: 0;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    margin: 20px;
}
section {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.bienvenida{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.bien1{
    font-size: 50px;
}
.bien2{
    margin-left: 10%;
    margin-top: 7%;
    font-size: large;
}
h1, h2, h3 {
    margin-top: 0%;
}
h1 {
    color: #264653;
}
h2 {
    color: #e76f51;
}
h3 {
    color: #2a9d8f;
}
.fila-habilidades {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
.habilidad {
    flex: 1;
    margin-right: 5%;
}
.habilidad:last-child {
    margin-right: 0%;
}
label {
    margin-bottom: 2%;
    display: block;
}
.barra-progreso {
    background: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 40px;
    max-width: 100%;
}
.progreso {
    background: #eddb76;
    height: 100%;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: medium;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #e76f51;
}
.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
article {
    flex: 1 1 calc(33.333% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295);
    padding: 2%;
    background-color: #131313;
    border-radius: 8px;
}
img, video {
    width: 100%;
    border-radius: 8px;
}
footer {
    background-color: #2a9d8f;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
    color: #000000;
}
.contacto-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.contact-item {
    flex: 1;
    margin: 0.5rem;
}
.contact-item a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    word-wrap: break-word;
    color: aliceblue;
}
.contact-item i {
    margin-right: 0.5rem;
}
form {
    text-align: left;
    padding: 1rem;
}
form label {
    display: block;
    margin-bottom: 0.5rem;
}
form input, form textarea {
    margin-right: 250;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button {
    background-color: #e94e11;
    color: white;
    padding: 0.75% 1.5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: black;
}
@media (max-width: 768px) {
    h1{
        font-size: x-large;
    }
    nav{
        justify-content: space-between;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav ul.show {
        display: flex;
    }
    nav .menu-icon {
        display: block;
    }
    nav ul li {
        margin: 0.1rem 0;
    }
    .fila-habilidades {
        flex-direction: column;
    }
    .habilidad {
        margin-right: 0;
        margin-bottom: 1%;
    }
    .habilidad:last-child {
        margin-bottom: 0;
    }
    .barra-progreso {
        height: 30px;
    }
    .progreso {
        line-height: 30px;
    }
    article {
        flex: 1 1 100%;
    }
    .contacto-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-item {
        min-width: unset;
        max-width: 100%;
    }
    .bienvenida{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bien1{
        text-align: center;
    }
    .bien2{
        margin-top: 0%;
        font-size: medium;
    }
}