body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #2a9d8f;
    color: rgb(65, 60, 60);
    padding: 15px;
    text-align: center;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu-icon {
    display: none;
    font-size: 1.3em;
    cursor: pointer;
}
nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    color: #264653;
}

h2 {
    color: #e76f51;
}

h3 {
    color: #2a9d8f;
}
.fila-habilidades {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.habilidad {
    flex: 1;
    margin-right: 1rem;
}

.habilidad:last-child {
    margin-right: 0;
}
label {
    margin-bottom: 0.5rem;
    display: block;
}
.barra-progreso {
    background: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 15px;
    width: 100%;
}
.progreso {
    background: #eddb76;
    height: 100%;
    line-height: 15px;
    color: white;
    text-align: center;
    font-size: small;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e76f51;
}


@media (max-width: 768px) {
    nav{
        justify-content: space-between;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    nav .menu-icon {
        display: block;
    }

    nav ul li {
        margin: 0.1em 0;
    }
    .fila-habilidades {
        flex-direction: column;
    }

    .habilidad {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .habilidad:last-child {
        margin-bottom: 0;
    }
    .barra-progreso {
        height: 15px;
    }

    .progreso {
        line-height: 15px;
    }

}
